<style>
    p {
        font-size: 3.5vh;
    }

    .sizes {
        border: 2px black solid;
        padding: 1.5px
    }

    .room-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }


    .img-container {
        padding: 20px;

    }


    .product-img {
        padding: 5px;
        transition: transform .2s;
        height: 44vh;
        margin: 0 auto;
    }
    .product-img:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        padding: 5px;    
    }
    .product-img:click {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        padding: 5px;  
    }


    
</style>


<div class="img-container">
    <img src="/media/{{ clothing.product_id }}/img1.webp" class="product-img" alt="Product Image">
    <img src="/media/{{ clothing.product_id }}/img2.webp" class="product-img" alt="Product Image">

    <img src="/media/{{ clothing.product_id }}/img2.webp" class="product-img" alt="Product Image">

    <img src="/media/{{ clothing.product_id }}/img3.webp" class="product-img" alt="Product Image">

    <img src="/media/{{ clothing.product_id }}/img4.webp" class="product-img" alt="Product Image">
    <img src="/media/{{ clothing.product_id }}/img5.webp" class="product-img" alt="Product Image">
</div>