{% extends "base.html" %}
    {% block content %}
        <style>
            p {
                font-size: 3.5vh;
            }

            .sizes {
                border: 2px black solid;
                padding: 1.5px
            }

            .right-side {
                position: fixed;
                right: 0;
                width: 370px;
            }
        </style>

        <div class="room-container">
            <div class="left-side" style="border-right: 1px solid black;">
                <h1>Product</h1>

                <h1>{{ clothing.name }}</h1>

                {% include 'product/image_container.html' %}
                
                <h1>Description</h1>
                <p>{{ clothing.details }}</p>

                <h1>Details</h1>

                {% for item in clothing.description %}
                    <p>{{ item }}</p>

                {% endfor %}
                
                {% include 'product/reviews_bar.html' %}

            </div>
            <div class="right-side">

                {% include 'product/right_side.html' %}

            </div>
        </div>

    {% endblock %}

