{% if clothing.gender == 'M' %}
    <p>Men • {{ clothing.category }}</p>

{% elif clothing.gender == 'F' %}
    <p>Women • {{ clothing.category }}</p>


{% elif clothing.gender == 'C' %}
    <p>Kids • {{ clothing.category }}</p>

{% elif clothing.gender == 'U' %}
    <p>Unisex •  {{ clothing.category }}</p>

{% endif %}

<p>S${{ clothing.price }}</p>
<a href="#reviews">{{ overall }} • ({{ num_reviews }})</a> 

<form action="" method="POST" style="margin-top: 10vh">
    {% csrf_token %}
  
    <label for="size">Size</label>
    <select title="size" value="size" name="size" style="height: 4vh">
        {% for item in sizes %}
            <option class="sizes" name="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>





  <input type="submit" value="Add to cart">
</form>

