<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <script src="https://js.stripe.com/v3/"></script>
        
        <title>Home Page</title>
        <style>
            html {
                scroll-behavior: smooth;
                }

            .footer {
                text-align: center;
            }
        </style>
        

    </head>

    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% include 'navbar.html' %}

        {% block content %}


        {% endblock %}


        <div class="footer">
            <a href="#top">To top</a>
        </div>
    </body>
</html>