{% extends 'base.html' %}


{% block content %}
    {% if operation == 'login' %}
        <form method="POST" action="?next={{ request.GET.next }}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            
            <input type='submit' value='submit'/>
        </form>
        <a href="{% url 'register' %}">No account? Sign up</a>
        
    {% else %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="register">
        </form>
        <a href="{% url 'login' %}">Already have an account?</a>

    {% endif %}

{% endblock %}









