{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

    <div class="container">
        <div class="left-side">


        </div>

        <div class="right-side">
            <form method="POST" action="">
                {% csrf_token %}
                {{ update_detail.as_p }}

                <input type="submit" value="register">

            </form>

            <hr>
            <h2>Activity</h2>
                {% if reviews %}
                    {% for item in reviews %}
                        <hr>
                        {{ item.stars }}
                        {{ item.description_review }}
                        <hr>
                    {% endfor %}

                {% else %}
                    <p>No recent activity</p>

                {% endif %}
        </div>

        
    </div>
    


{% endblock %}





