{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

    <div class="container">
        <div class="left-side">


        </div>

        <div class="right-side">
            <form method="POST" action="">
                {% csrf_token %}
                {{ update_detail.as_p }}

                <input type="submit" value="update">

            </form>

            <hr>
            <h2>Activity</h2>
                {% if reviews|length > 1 %}
                    {% for item in reviews %}
                        <hr>
                        <h3>{{ item.stars }}              {{ item.product_ID_id }}</h3>
                        <a href="/product/{{ item.product_ID_id }}#reviews">go to review</a>
                        <p>{{ item.description_review }}</p>
                        <hr>
                    {% endfor %}

                {% else %}
                    <p>No recent activity</p>

                {% endif %}
        </div>

        
    </div>
    


{% endblock %}





