<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed | SHOEciety</title>
</head>

{% extends 'base.html' %}

{% block content %}
    
    <div class="outer-payment">
        <h1>Payment failed</h1>
        <p>We are unable to process your order. Please try again later.</p>
        <a href="/home">
            <div class="payment-response" style="width: 10%;">
                Home
            </div>
        </a>
    </div>
{% endblock %}